@import "tailwindcss/base";

@import "tailwindcss/components";

/* Start inclusion */
@import "./custom/header.pcss";
@import "./custom/page.pcss";
@import "./custom/footer.pcss";

@import "./custom/components.pcss";
/* End inclusion */

@import "tailwindcss/utilities";
