{% extends 'base/app.twig' %}

{% block content %}
    {% include 'partials/front-page/hero.twig' %}

    {% include 'partials/front-page/content.twig' %}

    {% include 'partials/banner-newsletter.twig' %}

    {% include 'partials/front-page/plan.twig' %}

    <section class="container mx-auto lg:mt-8 px-4 md:px-0 lg:flex">
        <aside class="content p-8 lg:w-1/2 text-primary">
            <h4>
                {{ theme.theme_mod('mailchimp-titel') }}
            </h4>

            {{ theme.theme_mod('mailchimp-content')|wpautop }}
        </aside>
        <aside class="content p-8 lg:w-1/2 text-primary">
            <form class="mailchimp-form" action="https://spaarndammerstraat460.us3.list-manage.com/subscribe/post?u=dd391a7f09b8744b74cb56ba6&amp;id=96ab63469d" method="post">
                <input class="control primary grid-fname" required type="text" id="FNAME" name="FNAME" placeholder="voornaam*" />
                <input class="control primary grid-lname" type="text" id="LNAME" name="LNAME" placeholder="achternaam" />
                <input class="control primary grid-pcode" type="text" id="PCODE" name="PCODE" placeholder="postcode" />
                <input class="control primary grid-email" required type="email" id="EMAIL" name="EMAIL" placeholder="e-mailadres*" />

                <input type="hidden" />
                <button class="btn primary grid-send" type="submit">aanmelden</button>
            </form>
        </aside>
    </section>

    <iframe
        class="mt-12"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2434.9903762074973!2d4.878025115802574!3d52.38872477978952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6082cca983985%3A0xf6976399fd5d50a6!2sSpaarndammerstraat+460%2C+1013+SZ+Amsterdam!5e0!3m2!1sen!2snl!4v1561010049437!5m2!1sen!2snl"
        height="450"
        frameborder="0"
        style="border:0; width: 100%;"
        allowfullscreen
        ></iframe>
{% endblock %}
